/* phone device responsive */

@media screen and (max-width: 767px) {
    .navbar-center > a{
        display: none;
    }
    .hero-img, .hero-bottom-content{
        width: 330px;
                
        /* display: flex;
        align-items: center; */
    }
   
    
   .hero-content{
    flex-direction: column;
   }
  
}